<nav class="col-md-12  nav nav-justified">
    <ul class="nav nav-justified">

        <li>@Html.ActionLink("Hotel", "Index", "Home")</li>
        <li>@Html.ActionLink("AddHotel", "Hotels", "Home")</li>

    </ul>
</nav>
